@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster Two', cursive;

}

::selection {
    color: rgb(253, 253, 253);
    background: #ffa393;
}

/* custom css */
/* custom css */
.text-orange {
    color: #f78742;

}

.btn-orange {
    background: #ff6f00;
    color: #fcf4f2 !important;
    box-shadow: none !important;
    border: 1px solid white;

}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.header {
    height: 100vh;

}

.navigation {
    background: #f7871b;
    z-index: 999;
}

.navbar-nav li a {
    font-size: 1.3rem;
    color: #ffffff !important;
    font-variant: small-caps;
}

.navbar-nav li a:hover {
    color: #0f151a !important;
}

/* phone navigation */
.phone-navigation {
    background: #ff6f00;
    height: 5rem;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: none;
    z-index: 999;
}

.phone-navigation li {
    background: white;
}

.phone-navigation li a {
    color: black !important;
    font-size: 0.9rem;
    /* padding: 5px 3px !important; */
}

.phone-navigation img {
    width: 2.2rem;
    background: #fff;

}

/* - #=================== USER LOGIN POPUP START=======================#  */

.user_login_popup {
    font-family: serif;
}

.user_login_popup .left-side {
    background: #0f151a;
}

.user_login_popup .left-side img {

    animation: rotat 5s infinite linear;
}

/* rotate animation */

@keyframes rotat {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* header contents */

.header-content {
    padding: 100px 0px;
}

.header-content .left-side h1 {
    font-size: 3.8rem;
    text-shadow: 3px 3px 3px rgb(14, 14, 14);
}

.header-content .left-side h1 span {
    color: #f7871b;
}

.header-content .left-side p {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 1.1rem;
}


/* section  heading text */

.section-heading {
    position: relative;
}

.section-heading h2 {
    position: absolute;
    font-size: 4rem;
    top: -24px;
    left: 0px;
    letter-spacing: 5px;
    font-family: serif;
    font-variant: small-caps;
    font-weight: bold;
    opacity: 0.4;
    color: #f7871b;
    /* z-index: -1; */
}

.section-heading h2::after {
    content: '';
    height: 3px;
    width: 0px;
    background: #f98416;
    position: absolute;
    bottom: 0;
    left: 0px;
    animation: heading_border 4s infinite linear;

}


@keyframes heading_border {

    0%,
    100% {
        width: 100%;
        transform: scale(0.1);
    }

    50% {
        transform: scale(0.9);
        background: #f98416;
    }

    75% {
        transform: scale(1);
        background: black;

    }

}

/* about section */
.about-section .left-side p {
    text-align: justify;
    font-size: 1rem;
}

.about-section .right-side img {
    border-radius: 5% 40% 5% 40%;
    background: radial-gradient(circle, white, #f7d7ba);
    animation: design 10s infinite linear;
    border: 2px solid orange;
}


@keyframes design {

    0%,
    100% {
        /* border-radius: 30% 10% 10% 30%;   */
        background: radial-gradient(circle, white, #ffcea0);
    }

    50% {
        /* border-radius: 10% 40% 40% 40%;   */
        background: radial-gradient(circle, rgb(244, 241, 235), #fcbb7e);
    }

    75% {
        /* border-radius: 10% 10% 40% 40%;   */
        background: radial-gradient(circle, rgb(255, 244, 244), #f5c89e);
    }
}

/* service section */
.service-section {
    background: url(../Img/aa\ \(1\).gif ) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.service-section .card {
    border-radius: 5px 5px 50px 50px;
    background: #fffbf8;

}

.service-section .card h5 {
    color: #f7871b;
}

.service-section .card:hover {
    cursor: pointer;
    background: #f7871b;
    background-image: url(../Img/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.4s;
    transform: scale(1.03);
}

.service-section .card:hover h5 {
    color: white;
}

.service-section .card:hover p {
    color: rgb(234, 234, 234) !important;
    transition: all 0.3s;

}

.service-section img {
    object-fit: cover;
    width: 140px;
    height: 140px;
    margin-top: -70px;
    background: #f7871b;
}

.service-section .card:hover img {
    background: #ffffff;
    border: 2px solid white !important;
}

/* zodic sign */

.Symbol-section {
    background: url(../Img/zodic\ sighn\ bg.jpg) no-repeat;
    padding: 40px 0;
    background-position: center;
    background-size: cover;
}

.Symbol-section .card {
    background: #ffd7b1;
    height: 100%;
}

.Symbol-section .card:hover {
    background: #fc9a3e;
    cursor: pointer;
    transition: all 0.4s;
    transform: scale(1.05);
    background-image: url(../Img/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.Symbol-section .card .image {
    background: #fc9a3e;
    width: 90px;
    height: 90px;

}

.Symbol-section .card .image img {
    object-fit: contain;
    width: 100%;
    height: 100%;

}

.Symbol-section .card h4 {
    font-size: 1.3rem;
}

.Symbol-section .card span {
    color: #d95f01;
    box-shadow: none !important;
    border: 1px solid #d95f01;
    font-size: 0.9rem;
}

.Symbol-section .card:hover img {
    transform: rotate(360deg);
    transition: all 0.7s;
}

.Symbol-section .card:hover h4 {
    color: white !important;
    transition: all 0.2s;
}


.Symbol-section .card span:hover {
    color: black !important;
}

.Symbol-section .card:hover span {
    border: 1px solid #d95f01;
    color: #d95f01;
    background: #fff;
}


/* contact us */
.contact-section {
    background: url(../Img/contact\ bg.png);
    background-size: cover;
    background-position: center;
}


.contact-section .form-control {
    box-shadow: none;
    color: rgb(39, 69, 39) !important;
    border: 1px solid #5f3b19;
    /* background: none; */
}

.contact-section ::placeholder {
    color: #c1752e;
}


/* testimonial section */
.review-section {
    background: url(../Img/contact\ bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.review-section .card h5 {
    font-size: 1rem;

}

.review-section .card p {
    text-align: justify;
    font-size: 0.9rem;
}

.review-section .card:hover {
    background: #ffb876 !important;
    cursor: pointer;
}

.review-section .card:hover p {
    color: rgb(28, 23, 23) !important;
}

.review-section .card img {
    width: 100px;
    height: 100px;
}

.review-section .card:hover img {
    transform: scale(1.1);
    transition: all 0.4s;
    padding: 0px !important;
}


.footer {
    background: url(../Img/footer\ bg.jpg ) no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */

}

.footer h5 {
    color: whitesmoke;
}

.footer p,
.footer p a {
    font-size: 0.9rem;
}


.footer p:hover a {
    text-decoration: underline !important;
    color: rgb(255, 102, 82) !important;
    transition: all 0.2s;

}



/* ==================== USER LOGIN / AFTER LOGIN PAGE CSS==================== */

/* after login  btn  Custom CSS*/
.btn-team,
.btn-outline-orange:hover {
    background: #de6509;
    color: #fcf4f2 !important;
    box-shadow: none !important;
    border: 1px solid #de6509;

}

.btn-team:hover {
    background: #fcf4f2;
    color: #de6509 !important;
    transition: all 0.2s;
}

.btn-outline-orange {
    border: 1px solid #de6509;

    background: #fcf4f2;
    color: #de6509 !important;
}

/* ---------navbar dropdown start --------- */

.user_login_header .nav-link,
.user_login_header .navbar-nav li a {
    font-family: 'Mooli', sans-serif;
    font-size: 1.05rem !important;
    font-weight: bold;
    font-variant: normal;
}

.nav-item .dropdown-menu {
    background: #f78a20;
}

.dropdown-item.active,
.dropdown-item:active {
    background: #fdc098;
}

/*--------------------- header contents carousel start here ---------------------*/

.user_login_header .header-content {
    padding: 0px 0px;

}
 

/*----------- header Slider start after login header content-----------*/
 
.carousel-item img{
    height: 100vh ; 
    width: 100%;
    object-fit: cover;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;

}

.carousel-caption {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: start !important;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: cursive;

}

.slider1-text {
    position: absolute;
    top: 0%;
    left: 0%; 
}

.slider2-text {
    position: absolute;
    top: 0%;  
    left: 25%;
}

.slider3-text {
    position: absolute;
    top: 0%; 
    left: 40%;
}


.slider4-text {
    position: absolute;
    top: 0%; 
    left: 25%;
}


.header-content    h1 {
    font-size: 3rem;
    text-shadow: 3px 3px 2px rgba(14, 14, 14, 0.663);
}
 

.header-content   p {
    /* text-shadow: 2px 2px 2px rgb(0, 0, 0); */
    font-size: 1rem; 
    text-align: justify ;
}


/*-------------------------------- ## slider csss ##  --------------------------------*/
.product-section {
    background: #fffcfb;
    /* background: url(../Img/footer\ \(5\).avif  ) no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.product-section .card {
    border-radius: 25px;
    background-color: #FFF;
    border: 1px solid orange;
}

.product-section .card:hover img {
    transform: scale(1.1);
    transition: all 0.3s;
}


.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 4px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #d98739;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #d98739;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.product-section .card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 5%;
    background: #FFF;
    padding: 3px;
}

.product-section .card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    border: 4px solid #c1752e;
}

.product-section .name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #d07b2b;
}

.description {
    font-size: 0.9rem;
    color: #707070;
    text-align: center;
}


.swiper-navBtn {
    color: #e8a363;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #c1752e;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 2.5rem;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #c1752e;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #c1752e;
}


/* <!------------------- Know your zodic sign -------------------> */
.know-sign-section {
    background: url(../Img/zodic\ bg.png) no-repeat;
    /* padding: 80px 0; */
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
}


/* <!------------------- Book A pooja -------------------> */
.pooja-section .card {
    background-color: #ffd5ae;
}

.pooja-section .card:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.pooja-section .card-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.pooja-section .card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #c1752e;
}


.pooja-section .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #d07b2b;
}

/* zodic section */

.Symbol-section {
    background: url(../Img/zodic\ sighn\ bg.jpg) no-repeat;
    /* padding: 80px 0; */
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
}

/* kundali */
.Kundali-section {
    background: url(../Img/aa\ \(1\).gif ) no-repeat;
    /* padding: 80px 0; */
    /* background-position: center; */
    background-size: cover;
    background-attachment: fixed;
}

.Kundali-section::placeholder {
    color: #c1752e !important;
}

.Kundali-section img {
    animation: rotat 5s infinite linear;
}

